EXPORTS+=ARCH
EXPORTS+=EXTFS-CONFIG
EXPORTS+=FATFS-CONFIG
EXPORTS+=NTFSFS-CONFIG
EXPORTS+=PROCFS-CONFIG
EXPORTS+=ROOTFS-CONFIG
EXPORTS+=TEMPFS-CONFIG

EXPORTS+=PCI-CONFIG
EXPORTS+=IDE-CONFIG
EXPORTS+=KEYBOARD-CONFIG
EXPORTS+=MOUSE-CONFIG
